* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
h1 {
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin:1rem;
}

form {
  width:400px;
  display: flex;
  flex-direction: row;
  margin:1rem;
  padding:1rem;
  gap:1rem;
}

button {
  margin: 1rem;
  color: plum;
  text-decoration: none ;
}

svg {
  margin: 1rem;
}
